@import "./tables.css";

* {
    font-family: 'Caveat', cursive;
    font-family: 'Neucha', cursive;
    font-family: 'Open Sans', sans-serif;
}

.mt-10 {
    margin-top: 10rem !important;
}
.mh-800{
    max-height: 80vh;
}
.ContentModalAddViacsv{
    overflow-y: scroll;
}

/* .table-striped>tbody>tr:nth-of-type(even)>*  {
    background-color: red !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
    background-color: green !important;
} */

.borderColor {
    border-color: #d9d9d9 !important;
}

.dBlock {
    display: block !important;
}

.dNone {
    display       : none !important;
    pointer-events: none !important;
}
 
.show > .modal-dialog{
    animation: showModal 0.2s ease; 
}
@keyframes showModal {
    0%{
        opacity: 0;
        top:10%;
    }
    100%{
        top:0%;
        opacity: 1;
    }
    
}
.show>.bgModalEvent {
    animation: bgModalEventShow 0.2s ease;
}

@keyframes bgModalEventShow {
    0% {
        background: #00000000;
    }

    100% {
        background: #0000005c;
    }
}

.bgModalEvent {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    background: #0000005c;
}

.customize-checkboxes>div {
    margin: 5px;
}

form.form-inline {
    max-width: 260px;
}

table,
thead,
tbody {
    background-color: #dddddd !important;
    table-layout    : fixed;
    width           : 100%;
    /* Или укажите конкретную ширину */
}

th,
td {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;

    min-width : 100px;
    max-width : 220px;
    width     : auto;
    /* Укажите необходимую ширину */
    text-align: center !important;
}
 
td[data-column="index"]{
    cursor: pointer;
}
td[data-column="index"]:hover, tr:hover{
    border-bottom-color: #198754; 
    
}
td[data-column="index"]{
    position: relative;
}
td[data-column="index"]:hover::before{
    display: block;
}
  td[data-column="index"]::before{
    display: none;
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid #198754;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
td[data-column="index"]{
    cursor: pointer;
}
td[data-column="index"]:hover, tr:hover{
    border-bottom-color: #198754; 
    
}
td[data-column="index"]{
    position: relative;
}
td[data-column="index"]:hover::before{
    display: block;
}
  td[data-column="index"]::before{
    display: none;
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid #198754;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    width          : 100%;
}

th,
td {
    border    : 1px solid #dddddd;
    text-align: left;
    padding   : 8px;
}

th:hover,
td:hover {
    background-color: #f5f5f5;
}

.fixedBot {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 100%; 
    position       : fixed;
    bottom         : 0px;
    z-index        : 10;
}

.pagidark li>a {
    background-color: #212529;
    color           : #fff;
}

.styletotalPgage {
    border-radius: 0.375rem;
}