.mt-10 {
    margin-top: 10rem !important;
}

/* .table-striped>tbody>tr:nth-of-type(even)>*  {
    background-color: red !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
    background-color: green !important;
} */

.borderColor {
    border-color: #d9d9d9 !important;
}

 
table{
    table-layout: fixed;
    width       : 100%;
    /* Или укажите конкретную ширину */
}
 
th,
td {
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    
    min-width: 100px;
    max-width: 220px;
    width     : auto;
    /* Укажите необходимую ширину */
    text-align: center !important;
}

th[data-column="name"],
td[data-column="name"],
th[data-column="pricing"],
td[data-column="pricing"],  
th[data-column="index"],
td[data-column="index"]{
    white-space: inherit !important;  
    table-layout: fixed;
    width     : 220px;
}
th[data-column="asin"],
td[data-column="asin"],
th[data-column="sku"],
td[data-column="sku"]{
    white-space: inherit !important;  
    table-layout: fixed;
    width     : 125px;
}

th[data-column="checkbox"],
th[data-column="index"] {
    width: 50px;
    /* Укажите необходимую ширину */
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th:hover, td:hover {
    background-color: #f5f5f5;
  }
  .fixedBot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 10;
  }