<!DOCTYPE html>
<html>
<head>
    <title>Mother V2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div id="menu-container">
        <button id="add-product-button">Add Product</button>
        <button id="delete-selected-button">Delete Selected</button>
        <button id="add-via-csv-button">Add via CSV</button>
        <button id="parse-all-prices-button">Parse All Prices</button>
        <button id="parse-selected-prices-button">Parse Selected Prices</button>
        <button id="parse-all-delivery-prices-button">Parse All Delivery Prices</button>
        <button id="parse-selected-delivery-prices-button">Parse Selected Delivery Prices</button>
    </div>

    <h1>Nexus one</h1>

    <!-- Modal Overlay -->
    <div id="modal-overlay" class="modal">
        <!-- Modal Content -->
        <div class="modal-content">
            <span class="close">&times;</span> <!-- Close button -->
            <h2>Add Product</h2>
            <form id="add-product-form">
                <!-- Add input fields for product details -->
                <input type="text" id="sku" placeholder="SKU" required>
                <input type="text" id="name" placeholder="Name" required>
                <input type="text" id="thr-link" placeholder="THR Link">
                <input type="text" id="ws-link" placeholder="WS Link">
                <input type="text" id="pricing-strategy" placeholder="Pricing Strategy">
                <input type="text" id="basic-handling-time" placeholder="Basic Handling Time">
                <input type="text" id="price" placeholder="Price">
                <input type="text" id="median-ht" placeholder="Threshold for median HT calculation">
                <!-- Add more input fields for other product details -->

                <button type="submit" class="menu-container button:hover">Add</button>
            </form>
        </div>
    </div>

    <table>
        <tr>
            <th>    </th>
            <th>ASIN</th>
            <th>Old ASINs</th>
            <th>SKU</th>
            <th>Old SKUs</th>
            <th>Name</th>
            <th>THR Link</th>
            <th>WS Link</th>
            <th>Pricing Strategy</th>
            <th>Basic Handling Time</th>
            <th>Price</th>
            <th>Delivery Price THR 10001</th>
            <th>Delivery Price WS 10001</th>
            <th>Delivery Price THR 90001</th>
            <th>Delivery Price WS 90001</th>
            <th>Threshold for median HT calculation</th>
            <th>Orders count</th>
            <th>Units sold count</th>
            <th>Returns count</th>
            <th>A-to-Z count</th>
            <th>Item #</th>
            <th>ETA</th>
            <th>Stock availability</th>
            <th>Free shipping with Plus</th>
        </tr>
        {% for item in items %}
        <tr>
            <td><input type="checkbox" name="selected_product" value="{{ item['_id'] }}"></td> <!-- Add a checkbox input within each row -->
            <td>{{ item['ASIN'] }}</td>
            <td>{{ item.get('Old ASINs', '') }}</td>
            <td>{{ item['SKU'] }}</td>
            <td>{{ item.get('Old SKUs', '') }}</td>
            <td>{{ item['Name'] }}</td>
            <td>{{ item.get('THR Link', '') }}</td>
            <td>{{ item.get('WS Link', '') }}</td>
            <td>{{ item.get('Pricing Strategy', '') }}</td>
            <td>{{ item.get('Basic Handling Time', '') }}</td>
            <td>{{ item.get('Price', '') }}</td>
            <td>{{ item.get('Delivery Price', {}).get('THR', {}).get('10001', '') }}</td>
            <td>{{ item.get('Delivery Price', {}).get('WS', {}).get('10001', '') }}</td>
            <td>{{ item.get('Delivery Price', {}).get('THR', {}).get('90001', '') }}</td>
            <td>{{ item.get('Delivery Price', {}).get('WS', {}).get('90001', '') }}</td>
            <td>{{ item.get('Threshold for median HT calculation', '') }}</td>
            <td>{{ item.get('Orders count', '') }}</td>
            <td>{{ item.get('Units sold count', '') }}</td>
            <td>{{ item.get('Returns count', '') }}</td>
            <td>{{ item.get('A-to-Z count', '') }}</td>
            <td>{{ item.get('Item #', '') }}</td>
            <td>{{ item.get('ETA', '') }}</td>
            <td>{{ item.get('Stock availability', '') }}</td>
            <td>{{ item.get('Free shipping with Plus', '') }}</td>
        </tr>
        {% endfor %}
    </table>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


